<header>
  <h1>This is just a nice header title</h1>
</header>
<form action="/login" method="POST">
  <label for="username">Enter a Cool Username: </label>
  <input id="username" type="text" name="username" placeholder="type here" style="width: 300px">
  <input type="submit" value="Sign in">
</form>