<header>
  <a href = "/urls"><h1>Welcome to Your TinyApp!</h1></a>
  <a href = "/">Home Page</a>
  <br>
  <br>
  <% if(user_id) { %>
  <p>Hello user: <%= user_id; %></p>
  <form action="/logout" method="POST">
    <button id="logout" type="submit">Logout</button>
  </form>
  <% } else { %>
    <a href = "/login">Login here!</a>
    <br>
    <br>
  <% } %>
</header>
