<header>
  <a href = "/urls"><h1>Welcome to Your TinyApp!</h1></a>
  <a href = "/">Home Page</a>
  <br>
  <br>
  <% if(user_id) { %>
  <p><b>Hello user:</b> <%= user_id %></p>
  <p><b>Your email is:</b> <%= email %></p>
  <p>Your URL link page is <a href="/urls">here</a></p>
  <form action="/logout" method="POST">
    <button id="logout" type="submit">Logout</button>
  </form>
  <% } else { %>
    <a href = "/login">Login here <b>or</b> <a href ="/register">Register here!</a></a>
    <br>
    <br>
  <% } %>
</header>
