<header>
  <a href = "/"><h1>Welcome to Your TinyApp!</h1></a>
  <a href = "register">Register here!</a>
  <br>
  <a href = "login">Login here!</a>
  <form action="/logout" method="POST">
    <button id="logout" type="submit">Logout</button>
  </form>
</header>

