<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
<!-- is my button connectng to my form? -->
    <br>
    <h3>Welcome to our <i>Login</i> page</h3>
    <p>Please login or <a href = "/register">Register here</a></p>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="email">Enter Email</label>
      <input id="email" type="email" name="email" style="width: 300px">
      <label for="password">Enter Password</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <button type="submit">Login</button>
    </form>
  </body>
</html>