<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <p>Hello User <b> <%= user_id %></b></p>
    <br>
    <br>
    <p>Please don't leave an <b>empty</b> email or password field</p>
  </body>
</html>