<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <p>Hello User <b> <%= username %></b></p>
    <br>
    <br>
    <p><b>Email</b> already in existance, please choose another or <b>login</b></p>
  </body>
</html>