<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <ul>
    <li>
      <!-- urls is the key in our object which we created in our get request for this file.
      and the value is actually another object (the urlDatabase object) -->
      <%= urls %>
    </li>
  </ul>
</body>
</html>