<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <ul>
      <% for (var i in urls) { %>
      <li><%= i %> : <%= urls[i] %></li>
      <% } %>
  </ul>
</body>
</html>