<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header.ejs %>
  <form action="/urls/new" method="GET">
    <button id="newURL" type="submit">Create a New URL</button>
  </form>
  <ul>
  <table border="1" width="70%">
  <% if (match.longURL === urls.longURL) { %>
    <% for (var i in urls) { %>
        <tr>
          <td>ShortURL</td><td><%= i %></td><td>LongURL</td><td><%= urls[i].longURL %></td>
            <form method="POST" action="/urls/<%= i %>/delete">
              <td><input type="submit" value="Delete"></td>
              <td><a href = "urls/<%= i %>">Edit</a></td>
            </form>
        </tr>
    <% } %>
  <% } %>
  </table>
  </ul>
</body>
</html>



