<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
<!-- is my button connectng to my form? -->
    <br>
    <h3>Welcome to our <i>Register</i> page</h3>
    <p>Please fill in requirements below then have fun using TinyApp!</p>
    <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Enter Email</label>
      <input id="email" type="email" name="email" style="width: 300px">
      <label for="password">Enter Password</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <button type="submit">Register!</button>
    </form>
  </body>
</html>